html, body {
	font-family: monospace;
	border-width: 800px;
	height: 100%;
	margin: 0;
	padding: 0;
}
#content {
	width: 800px;
	min-height: 100%;
	position: relative;
	margin: auto;
}
#header {
	padding: 10px;
}
#header a {
	color: #111;
	text-decoration: none;
}
#body {
	text-align: left;
	padding: 10px;
	padding-bottom: 60px;
	background-color: #000;
}
#footer {
	font-size: 80%;
	color: #666;
	height: 60px;
	bottom: 0;
	position: absolute;
}
#email-img {
	position: absolute;
}
code a {
	color: #111;
	text-decoration: none;
}
