html, body {
	font-family: monospace;
	border-width: 800px;
	height: 100%;
	margin: 0;
	padding: 0;
}
#content {
	width: 800px;
	min-height: 100%;
	position: relative;
	margin: auto;
}
#body {
	text-align: left;
	padding: 10px;
	padding-bottom: 60px;
	background-color: #000;
	font-color: #FFF;
}
code a {
	color: #111;
	text-decoration: none;
}
