<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="Adriano Barbosa" />
		<title>{{ page.title }}</title>
		{% comment %} <link type="text/css" href="/css/page-style.css" rel="stylesheet" /> {% endcomment %}
	</head>
	<body>
		<div id="content">
			<code>
				barbosaaob@blog public_html$ ls -l<br>
				total {{ paginator.total_posts }}<br>
				<div id="body">{{ content }}</div>
				barbosaaob@blog public_html$ <blink>_</blink>
			</code>
		</div>
	</body>
</html>
